.error-message{
    color: #ff0000;
}

#content{
    background-color: #fff;
}

.tab-pane{
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-actions {
    margin-bottom: 25px;
    background-color: transparent;
    text-align: center;
}

.field-key{
	padding: 5px;
}

.field-value{
	padding: 5px;
	color: #007aff;
	font-size: 20px;
}

.field{
	margin-top: 10px;
	margin-bottom: 10px;
}

.divider{
    border-right: 1px solid;
    border-color: #f5f5f5;
    line-height: 1;
}

.search-box{
    margin-top: -45px;
}
ul.search-tabs li a {
    width: fit-content ! important;
}

table,th,td,th {
    text-align: center;
}

.w20{
    width:20px;
}

.confirmed{
    color: #00cc00;
}

.pending{
    color: #ffcc00;
}