<div id="slideshow">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner-container">
            <!--<img class="tab-pane fade" id="hotels-tab" src="assets/images/hotel.jpg" alt="" style="width:100%">
                <img class="tab-pane fade" id="cars-tab" src="assets/images/car.jpg" alt="" style="width:100%">-->
            <img src="assets/images/header_home.jpg" alt="">
            <!--<img class="tab-pane fade" id="transfer-tab" src="assets/images/transfer1.jpg" alt="" style="width:100%">-->

        </div>
    </div>
</div>

<div class="container" id="count-container">
	<div class="row">
		<div class="col-md-12">
			<div id="dashboard">
			    <div class="row block">
			        <div class="col-sm-6 col-md-3">
			            <a>
			                <div class="fact blue">
			                    <div class="numbers counters-box">
			                        <dl>
			                            <dt>{{TotalBookings}}</dt>
			                            <dd>Travel Bookings</dd>
			                        </dl>
			                        <i class="icon soap-icon-hotel"></i>
			                    </div>
			                </div>
			            </a>
			        </div>
			        <div class="col-sm-6 col-md-3">
			            <a>
			                <div class="fact yellow">
			                    <div class="numbers counters-box">
			                        <dl>
			                            <dt>{{TotalRequests}}</dt>
			                            <dd>Requests</dd>
			                        </dl>
			                        <i class="icon soap-icon-plane"></i>
			                    </div>
			                </div>
			            </a>
			        </div>
			        <div class="col-sm-6 col-md-3">
			            <a routerLink="/tm-admin/dashboard/companies">
			                <div class="fact red">
			                    <div class="numbers counters-box">
			                        <dl>
			                            <dt>{{TotalAgencies}}</dt>
			                            <dd>Travel Agencies</dd>
			                        </dl>
			                        <i class="icon soap-icon-car"></i>
			                    </div>
			                </div>
			            </a>
			        </div>
			        <div class="col-sm-6 col-md-3">
			            <a routerLink="/tm-admin/dashboard/companies">
			                <div class="fact green">
			                    <div class="numbers counters-box">
			                        <dl>
			                            <dt>{{TotalCompanies}}</dt>
			                            <dd>Corporate Companies</dd>
			                        </dl>
			                        <i class="icon soap-icon-cruise flip-effect"></i>
			                    </div>
			                </div>
			            </a>
			        </div>
			    </div>
			    
			    <!-- <div class="row block">
			        <div class="col-md-6 notifications">
			            <h2>Requests</h2>
			            <a href="#">
			                <div class="icon-box style1 fourty-space">
			                    <i class="soap-icon-plane-right takeoff-effect yellow-bg"></i>
			                    <span class="time pull-right">JUST NOW</span>
			                    <p class="box-title">120 Requests for flight booking</p>
			                </div>
			            </a>
			            <a href="#">
			                <div class="icon-box style1 fourty-space">
			                    <i class="soap-icon-hotel blue-bg"></i>
			                    <span class="time pull-right">10 Mins ago</span>
			                    <p class="box-title">30 Requests for Hotel Bookings</p>
			                </div>
			            </a>
			            <a href="#">
			                <div class="icon-box style1 fourty-space">
			                    <i class="soap-icon-car red-bg"></i>
			                    <span class="time pull-right">39 Mins ago</span>
			                    <p class="box-title">12 Requests for Car Hire</p>
			                </div>
			            </a>
			            <a href="#">
			                <div class="icon-box style1 fourty-space">
			                    <i class="soap-icon-cruise green-bg"></i>
			                    <span class="time pull-right">1 hour ago</span>
			                    <p class="box-title">22 Requests for Transfer</p>
			                </div>
			            </a>			            
			        </div>
			        <div class="col-md-6">
			            <h2>Bookings</h2>
			            <div class="recent-activity">
			                <ul>
			                    <li>
			                        <a href="#">
			                            <i class="icon soap-icon-plane-right circle takeoff-effect yellow-color"></i>
			                            
			                            <h4 class="box-title">
			                                34 Flight Bookings
			                            </h4>
			                        </a>
			                    </li>
			                    <li>
			                        <a href="#">
			                            <i class="icon soap-icon-car circle red-color"></i>
			                            
			                            <h4 class="box-title">
			                                9 Car Bookings
			                            </h4>
			                        </a>
			                    </li>
			                    <li>
			                        <a href="#">
			                            <i class="icon soap-icon-cruise circle green-color"></i>
			                            
			                            <h4 class="box-title">
			                                19 Transfers
			                            </h4>
			                        </a>
			                    </li>
			                    <li>
			                        <a href="#">
			                            <i class="icon soap-icon-hotel circle blue-color"></i>
			                            
			                            <h4 class="box-title">
			                                21 Hotel Bookings
			                            </h4>
			                        </a>
			                    </li>
			                </ul>
			            </div>
			        </div>
			    </div> -->
			</div>			
		</div>
	</div>
</div>	
