<div class="page-title-container style4 txt-left">
    <div class="container">
        <div class="page-title">
            <i class="soap-icon-calendar"></i>
            <h2 class="entry-title">Team Approvals</h2>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="sub-btn active" (click)="filterRequest('All')" [ngClass]="{'subTab-select':showSubTab=='All'}">My Team ({{requestList.length}})</button>
        <button class="sub-btn" (click)="filterRequest('Pending')" [ngClass]="{'subTab-select':showSubTab=='Pending'}">Stand-In Approvals ({{requestList1.length}})</button>
        <button class="sub-btn" (click)="filterRequest('members')" [ngClass]="{'subTab-select':showSubTab=='members'}">Team Members({{teamMembers.length}})</button> 
        <!-- <ul class="search-tabs clearfix"> 
            <li class="active"><a href="#mapped-agencies-tab" data-toggle="tab">Associated Travel Agencies</a></li>
            <li><a href="#send-mapping-request-tab" data-toggle="tab">Send Association Request</a></li>
            <li><a href="#approve-mapping-request-tab" data-toggle="tab">Approve Association Request</a></li>
        </ul> -->
        <!-- <ul class="breadcrumbs">
            <li><a href="#">HOME</a></li>
            <li><a href="#">PAGES</a></li>
            <li class="active">Before You Fly</li>
        </ul> -->
    </div>
</div>
<section id="content">
    <div class="container-fluid marginTop20" *ngIf="showSubTab=='Pending' || showSubTab =='All'">
        <!-- <div class="row nopadding">
        <div class="col-md-12">
            <div class="request-filter-wrapper">
                <div class="request-filter">
                    <ul class="nav nav-pills">
                        <div class="col-md-2 filter-divider">
                            <li class="filter-text active">
                                <span class="badge" *ngIf="statusFlag==null && requestList">{{count}}</span>
                                <a data-toggle="pill" href="#all" (click)="sortRequestStatusWise(null)">All</a>
                            </li>         
                        </div>
                        <div class="col-md-2 filter-divider">
                            <li class="filter-text ">
                                <span class="badge" *ngIf="statusFlag==1 && requestList">{{count}}</span>
                                <a data-toggle="pill" href="#pending" (click)="sortRequestStatusWise(1)">Pending</a>
                            </li>
                        </div>
                        <div class="col-md-2 filter-divider">
                            <li class="filter-text ">
                                <span class="badge" *ngIf="statusFlag==2 && requestList">{{count}}</span>
                                <a data-toggle="pill" href="#in-progress" (click)="sortRequestStatusWise(2)">In-Progress</a>
                            </li>
                        </div>
                        <div class="col-md-2 filter-divider">
                            <li class="filter-text ">
                                <span class="badge" *ngIf="statusFlag==3 && requestList">{{count}}</span>
                                <a data-toggle="pill" href="#confirmed" (click)="sortRequestStatusWise(3)">Confirmed</a>
                            </li>
                        </div>
                        <div class="col-md-2 filter-divider">
                            <li class="filter-text ">
                                <span class="badge" *ngIf="statusFlag==4 && requestList">{{count}}</span>
                                <a data-toggle="pill" href="#processed" (click)="sortRequestStatusWise(4)">Processed</a>
                            </li>
                        </div>
                        <div class="col-md-2" style="margin-top: 5px;">
                            <li class="filter-text">
                                <span class="badge" *ngIf="statusFlag==5 && requestList">{{count}}</span>
                                <a data-toggle="pill" href="#history" (click)="sortRequestStatusWise(5)">History</a>
                            </li>
                        </div>
                    </ul>
            </div>
        </div>
        </div> -->

        <div class="col-md-12 nopadding">


            <!-- <div class="request-header-wrapper">
                <div class="request-header">
                    <div class="col-md-4 nopadding">
                        <div class="col-md-6 header-text  nopadding">Date</div>
                        <div class="col-md-6 header-text  nopadding">Request ID (C)</div>
                       
                    </div>

                    <div class="col-md-4 header-text  nopadding">
                        <div>Request For</div>     
                    </div>
                    <div class="col-md-4 nopadding">
                        <div class="col-md-6 header-text  nopadding">Requester</div>
                        <div class="col-md-6 header-text nopadding">Status</div>        
                    </div>
                </div>
            </div> -->

            <!-- <div class="request-box-wrapper" *ngFor="let request of requestList">
                <a target="_blank" [routerLink]="['../request-details/',request._id]">
                <div class="request-list">
                    <div class="row">
                    <div class="col-md-4 nopadding">
                        <div class="col-md-6 divider nopadding">
                            <div class="fullCircle">
                                {{request.FirstDate | date : 'dd'}}
                            </div>
                        </div>
                        <div class="col-md-6 divider nopadding">
                            <div class="request-id">{{request.CompanyRequestId}}</div>
                        </div>
                    </div>

                    <div class="col-md-4 divider nopadding image-holder" >
                        <img *ngIf="request.FlightRequest" class="image-block img-responsive" src="/assets/images/flight.png" alt="">
                        <img *ngIf="request.AccomodationRequest" class="image-block img-responsive" src="/assets/images/hotel.png" alt="">
                        <img *ngIf="request.CarRequest" class="image-block img-responsive" src="/assets/images/car.png" alt="">
                        <img *ngIf="request.TransferRequest" class="image-block img-responsive" src="/assets/images/transfer.png" alt="">
                    </div>

                    <div class="col-md-4 nopadding">
                        <div class="col-md-6 nopadding divider">
                            <img class="img-responsive img-circle img-approver-custom" [src]="request.CompanyUserId.ProfilePhotoPath || DefaultPhotoPath" alt="">
                        </div>
                        <div class="col-md-6 nopadding">
                            <div class="request-status">
                                <span [class]="request.Status | requestStatusIconClass"></span>
                                <span [class]="request.Status | requestStatusTextClass">{{request.Status | requestStatusText}}</span>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 nopadding">
                            <div class="col-md-4 nopadding date-year">
                            {{request.FirstDate | date : 'MMM'}} 
                            {{request.FirstDate | date : 'yyyy'}}
                            </div>
                            <div class="col-md-4 nopadding"></div>
                            <div class="col-md-4 nopadding"></div>

                        </div>
                        <div class="col-md-4 nopadding"></div>
                        <div class="col-md-4 nopadding">
                            <div class="col-md-6 request-approver-text nopadding">
                                {{request.CompanyUserId.FirstName}} {{request.CompanyUserId.LastName}}
                            </div>
                            <div class="col-md-6 nopadding"></div>
                        </div>
                    </div>
                </div>                
                </a>
            </div> -->


            <dx-data-grid id="gridContainer" [dataSource]="showSubTab=='Pending' ? requestList1 :requestList" [rowAlternationEnabled]="true" [showColumnLines]="true" [showRowLines]="true"
                [showBorders]="true" [allowColumnReordering]="false" [allowColumnResizing]="false" [columnAutoWidth]="true">
                <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <!-- Date -->
                <dxi-column alignment="center" caption="Date"  dataField="FirstDate" [allowFiltering]="false"  [allowSorting]="false" cellTemplate="DateTemplate"></dxi-column>
                <div *dxTemplate="let date of 'DateTemplate'">
                    <div class="fullCircle">
                        {{date.value | date : 'dd'}}
                    </div>
                    <div class="nopadding date-year">
                        {{date.value | date : 'MMM'}} {{date.value | date : 'yyyy'}}
                    </div>
                </div>


               <!-- Request Id -->
               <dxi-column alignment="center" caption="Request ID" dataField="CompanyRequestId" [allowFiltering]="true" [allowSorting]="false" cellTemplate="RequestIDTemplate"></dxi-column>
               <div  *dxTemplate="let Id of 'RequestIDTemplate'">
                       <a  style="color:blue;" [routerLink]="['../request-details/',Id.data._id]">
                           {{Id.value}}
                   </a>
               </div>

                  <!--company name -->
                  <dxi-column alignment="center" caption="Travel Agency" dataField="AgencyId.CompanyName" [allowFiltering]="true" [allowSorting]="false" cellTemplate="CompanyNameTemplate"></dxi-column>
                  <div class="company-name" *dxTemplate="let CompanyName of 'CompanyNameTemplate'">
                          {{CompanyName.value}}
                  </div>

                <!-- Request For -->
                <dxi-column alignment="center" caption="Motivation" dataField="ReasonForTravel" [width]="320" [allowFiltering]="true" [allowSorting]="false" cellTemplate="RequestForTemplate">
                        
                </dxi-column>
                <div  class="company-name" *dxTemplate="let request of 'RequestForTemplate'">
                    <!-- <div class="nopadding image-holder">
                        <div *ngFor="let data of request.data.Requests">
                            <img *ngIf="data.FlightRequest" class="image-block img-responsive" src="/assets/images/flight.png" alt="">
                            <img *ngIf="data.AccomodationRequest" class="image-block img-responsive" src="/assets/images/hotel.png" alt="">
                            <img *ngIf="data.CarRequest" class="image-block img-responsive" src="/assets/images/car.png" alt="">
                            <img *ngIf="data.TransferRequest" class="image-block img-responsive" src="/assets/images/transfer.png" alt="">
                        </div>
                    </div> -->
                    {{request.value}}
                </div>

                <!-- Requester -->
                <dxi-column alignment="center" caption="Requester" dataField="CompanyUserId.FirstName" [allowFiltering]="true"  [allowSorting]="false" cellTemplate="RequesterTemplate">
                </dxi-column>
                <div *dxTemplate="let request of 'RequesterTemplate'">
                    <!-- <div class="nopadding">
                        <img class="img-responsive img-circle img-approver-custom" [src]="request.data.CompanyUserId.ProfilePhotoPath || DefaultPhotoPath" alt="">
                    </div> -->
                    <div class="request-approver-text nopadding">
                        {{request.data.CompanyUserId.FirstName}} {{request.data.CompanyUserId.LastName}}<br>
                        {{request.data.CompanyUserId.Email}}<br>{{request.data.CompanyUserId.MContactNumber}}
                    </div>
                </div>

                <!-- status -->
                <dxi-column alignment="center" caption="Status" dataField="createdAt" [allowFiltering]="true"  [allowSorting]="false" cellTemplate="StatusTemplate"></dxi-column>
                <div *dxTemplate="let status of 'StatusTemplate'">
                    <div class="request-status">
                        <span [class]="status.data.Status | requestStatusIconClass"></span>
                    </div>
                    <div>
                        <span [class]="status.data.Status | requestStatusTextClass">{{status.data.Status | requestStatusText}}</span>
                    </div>
                </div>


                <dxo-remote-operations [filtering]="true" [sorting]="false" [paging]="true" [grouping]="true">
                </dxo-remote-operations>

                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"></dxo-pager>
            </dx-data-grid>

        </div>

        <div id="next-button-wrapper" *ngIf="requestList">
            <button *ngIf="requestList.length<count" (click)="nextRecords()" class="btn add-button">Next</button>
        </div>
    </div>
    <div class="container marginTop20" *ngIf="showSubTab=='members'">
        <div class="row">
            <div class="col-md-6 single" *ngFor="let user of teamMembers">
            <div class="about-author block">
                <div class="about-author-container">
                    <div class="about-author-content">
                       <!--  <div class="avatar">
                            <img src="{{user.ProfilePhotoPath ? user.ProfilePhotoPath:'http://placehold.it/270x270'}}" width="96" height="96" alt="">
                        </div> -->
                        <div class="description">
                            <h4 class="etext">{{user.FirstName}} {{user.LastName}}</h4>
                            <p>{{user.Designation || 'Team Member'}}</p>
                            <span class="ereport">{{user.Email}}</span>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>
</section>