<!--<ul>
    <li><a routerLink="corporate-company/login">Corporate Company - Login</a></li>
    <li><a routerLink="travel-company/login">Travel Company - Login</a></li>
    <li><a routerLink="tm-admin/login">TM Admin - Login</a></li>
</ul>-->
<div id="page-wrapper">

    <div id="slideshow">
        <div class="fullwidthbanner-container">
            <div class="fullwidthbanner-container">
                <!--<img class="tab-pane fade" id="hotels-tab" src="assets/images/hotel.jpg" alt="" style="width:100%">
                <img class="tab-pane fade" id="cars-tab" src="assets/images/car.jpg" alt="" style="width:100%">-->
                <img src="assets/images/login_bg.jpg" alt="" style="width:100%">
                <!--<img class="tab-pane fade" id="transfer-tab" src="assets/images/transfer1.jpg" alt="" style="width:100%">-->

            </div>
        </div>
    </div>

    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-6">
                            <a routerLink="corporate-company/login">
                                <div class="well dash-box" style="background-color: #007AFF;">
                                    <h2 style="color: white"><span class="icon-company" aria-hidden="true" style="font-size: 50px;"></span></h2>
                                    <h4 style="color: white">Corporate Login</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a routerLink="travel-company/login">
                                <div class="well dash-box" style="background-color: #98ce44;">
                                    <h2 style="color: white"><span class="icon-travel" aria-hidden="true" style="font-size: 50px;"></span></h2>
                                    <h4 style="color: white">Travel Agency Login</h4>
                                </div>
                            </a>
                        </div>
                        <!-- <div class="col-md-4">
                            <a routerLink="tm-admin/login">
                                <div class="well dash-box" style="background-color: #ff6000;">
                                    <h2 style="color: white"><span class="icon-tm" aria-hidden="true" style="font-size: 50px;"></span></h2>
                                    <h4 style="color: white">TM-Admin Login</h4>
                                </div>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="search-box-wrapper">
            <div class="search-box container">
                <ul class="search-tabs ">



                    <li class="active"><a routerLink="corporate-company/login">Company</a></li>

                    <li><a routerLink="travel-company/login">Travel Agency</a></li>

                    <li><a routerLink="tm-admin/login">Travel Mediary</a></li>

                </ul>
                <div class="visible-mobile">
                    <ul id="mobile-search-tabs" class="search-tabs clearfix">
                        <li class="active"><a routerLink="corporate-company/login">Company</a></li>

                        <li><a routerLink="travel-company/login">Travel Agency</a></li>

                        <li><a routerLink="tm-admin/login">Travel Mediary</a></li>
                    </ul>
                </div>
            </div>
        </div>-->
    </section>

    <footer id="footer">



        <div class="bottom gray-area">

            <div class="container">
                <div class="row">



                    <div class="col-md-12 txt">
                        <h2>About Travel Mediary</h2>
                        <p>currently in beta phase, please email "support" for assistance</p>
                        <br />
                        <address class="contact-details">
                                For support please contact
                                <br />
                                <a href="#" class="contact-email">support@travelmediary.com</a>
                            </address>
                        <!-- <ul class="social-icons clearfix ss">
                            <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                            <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                            <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                            <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                            <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                            <li class="dribble"><a title="dribble" href="#" data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
                            <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                        </ul> -->
                    </div>
                </div>

                <div class="row">
                    <div class="logo pull-left">
                        <a title="Travel Mediary - home">
                            <img src="assets/images/logo.png" alt="Travel Mediary HTML5 Template" />
                        </a>
                        <div
                            class="version-label">
                            Version: {{authService.buildVersion}}
                        </div>
                    </div>
                    <div class="pull-right">
                        <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p> 2018 </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>