<!--<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="profile">
                <div class="view-profile">
                    <article class="image-box style2 box innerstyle personal-details">

                        <figure>
                            <a title="" href="#"><img width="270" height="263" alt="" src="http://placehold.it/270x263"></a>
                        </figure>
                        <div class="details tab-container style1">
                            <button class="button btn-large white" data-toggle="modal" data-target="#editProfile"><span class="glyphicon glyphicon-plus"></span> EDIT PROFILE</button>
                            <!--<a class="button btn-mini pull-right edit-profile-btn tabs" href="#edit-profile" data-toggle="tab">EDIT PROFILE</a>-->
<!--<h2 class="box-title fullname">Jessica Brown</h2>
                            <dl class="term-description">
                                <dt>Email Address:</dt>
                                <dd>info@jessica.com</dd>
                                <dt>first name:</dt>
                                <dd>jessica</dd>
                                <dt>last name:</dt>
                                <dd>brown</dd>
                                <dt>phone number:</dt>
                                <dd>1-800-123-HELLO</dd>
                                <dt>Date of birth:</dt>
                                <dd>15 August 1985</dd>

                                <dt>Town / City:</dt>
                                <dd>Paris,France</dd>
                                <dt>Country:</dt>
                                <dd>United States of america</dd>
                            </dl>


                        </div>
                    </article>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content form-group">
            <form class="edit-profile-form">
                <h2>Personal Details</h2>
                <div class="col-sm-9 no-padding no-float">
                    <div class="row form-group">
                        <div class="col-sms-6 col-sm-6">
                            <label>First Name</label>
                            <input type="text" class="input-text full-width" placeholder="">
                        </div>
                        <div class="col-sms-6 col-sm-6">
                            <label>Last Name</label>
                            <input type="text" class="input-text full-width" placeholder="">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sms-6 col-sm-6">
                            <label>Country Code</label>
                            <div class="selector">
                                <select class="full-width">
			                                <option>United Kingdom (+44)</option>
			                                <option>United States (+1)</option>
			                            </select>
                            </div>
                        </div>
                        <div class="col-sms-6 col-sm-6">
                            <label>Phone Number</label>
                            <input type="text" class="input-text full-width" placeholder="">
                        </div>
                    </div>
                    <label>Date of Birth</label>
                    <div class="row form-group">
                        <div class="col-sms-4 col-sm-2">
                            <div class="selector">
                                <select class="full-width">
			                                <option value="">date</option>
			                            </select>
                            </div>
                        </div>
                        <div class="col-sms-4 col-sm-2">
                            <div class="selector">
                                <select class="full-width">
			                                <option value="">month</option>
			                            </select>
                            </div>
                        </div>
                        <div class="col-sms-4 col-sm-2">
                            <div class="selector">
                                <select class="full-width">
			                                <option value="">year</option>
			                            </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h2>Contact Details</h2>
                    <div class="row form-group">
                        <div class="col-sms-6 col-sm-6">
                            <label>City</label>
                            <div class="selector">
                                <select class="full-width">
			                                <option value="">Select...</option>
			                            </select>
                            </div>
                        </div>
                        <div class="col-sms-6 col-sm-6">
                            <label>Country</label>
                            <div class="selector">
                                <select class="full-width">
			                                <option value="">Select...</option>
			                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sms-6 col-sm-6">
                            <label>Region State</label>
                            <div class="selector">
                                <select class="full-width">
			                                <option value="">Select...</option>
			                            </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h2>Upload Profile Photo</h2>
                    <div class="row form-group">
                        <div class="col-sms-12 col-sm-6 no-float">
                            <div class="fileinput full-width">

                                <label class="upload-button">
  <input type="file" name="ProfilePhoto" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">

</label>-->

<!--<input type="file" class="input-text" data-placeholder="select image/s">-->
<!--</div>
                        </div>
                    </div>
                    <hr>-->

<!--<div class="drop-container" ngFileDrop (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
  <h1>Drag & Drop</h1>
</div>-->

<!--<label class="upload-button">
  <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" name="photo">
  or choose file(s)
</label>

<button type="button" class="start-upload-btn" (click)="startUpload()">
  Start Upload
</button>-->

<!--<div class="from-group">
                        <button type="button" class="btn-medium col-sms-6 col-sm-4" (click)="startUpload()" name="photo">UPDATE PROFILE</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>-->

<!--<div class=" drop-container " ngFileDrop (uploadOutput)="onUploadOutput($event) " [uploadInput]="uploadInput " [ngClass]="{ 'is-drop-over': dragOver } ">
    <h1>Drag & Drop</h1>
</div>

<label class="upload-button ">
  <input type="file " name="ProfilePhoto " ngFileSelect (uploadOutput)="onUploadOutput($event) " [uploadInput]="uploadInput ">

</label>

<button type="button " class="start-upload-btn " (click)="startUpload() ">
  Start Upload
</button>-->-->