.container-fluid{
	background-color: #F5F5F5;
}
.details-wrapper{
	
}

.details-head-row{
	background-color: #E6E6E6;
}

.details-head-box{
	background-color: #007aff;
}

.field-key{
	padding: 5px;
}

.form-group {
     margin-bottom: 0px!important; 
}

.count-badge{
    background-color: #fff!important;
    font-size: 14px!important;
    color: #007aff!important;
}

.badge-selected {
  background-color: #468847!important;
}

.quote-head{
	color: #E48300;
}

.field-value{
	padding: 5px;
	color: #007aff;
	font-size: 20px;
}

.response-field-key{
	padding: 2px;
}

.response-field{
	margin-top: 2px;
	margin-bottom: 2px;
}

.response-field-value{
	padding: 2px;
	color: #007aff;
	font-size: 14px;
	word-wrap: break-word;
}

.details-heading{
	color: #fff;
	font-size: 16px;
	vertical-align: middle;
	text-align: center;
	margin-left: 20px;
}

.img-head-custom{
	display: block;
}

.row{
	margin: 0;
}

.field{
	margin-top: 10px;
	margin-bottom: 10px;
}

.divider{
    border-right: 1px solid;
    border-color: #f5f5f5;
    line-height: 1;
}

.col-md-6 .col-md-12{
    width: auto;
}


hr{
	margin: 5px;
}

.details{
	background-color: #fff;
	margin-bottom: 30px;
}

.panel-group {
    margin-bottom: 2px!important; 
}

.quote-list{
	background-color: #EAEAEA;
}

.panel-body{
	background-color: #fff;
}

.response-wrapper{
	background-color: #dfdfdf;
	margin-bottom: 30px;
}

.view-quote-wrapper{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.view-quote{
	margin-bottom: 15px;
}

.person-icon{
	color: #fff;
	font-size: 50px;
	height: 60px;
	width: 60px;
	margin-top: 10px;
	margin-left: 10px;
}

.favicon{
	height: 60px;
	width: 60px;
}

.add-button{
	background: #E48300;
	margin-top: 10px;
	display: inline-block;
	height: 40px;
}

.progress {
    margin-right: 10px;
}

.confirmed{
    color: #00cc00;
}

.in-progress{
    color: #ff6600;
}

.pending{
    color: #ffcc00;
}

.history{
    color: #cc0000;
}

.processed{
    color: #003399;
}

.request-status{
    padding-top: 10px;
    padding-bottom: 10px;
}

.request-status-icon{    
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    display: inline-block;
    width: 100%;
}

.request-status-text{    
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    display: inline-block;
    width: 100%;
}

.tab-spacing{
	padding-left: 1em;
	padding-right: 1em;
}



.glyphicon-star{      
	color: gold;  
	font-size:30px;  
}

.leavingBgClr{
	background-color: #f5f5f7;
}

.comingBgClr{
	background-color: #f9e0e0;
}

.ApproveEtBtn{
	font-size: 10px;
	font-weight: bold;
	background: #007AFF;
	height: 22px;
	line-height: 22px;
	border-radius: 5px;
	padding: 0 7px;
}

.ApproveEtBtnclr {
	background: red;
  }